body {
    background-color: powderblue;
    margin:0;
}
header{
	background-color: #999;
	color: white;
	padding: 10px;
}
header h1{
	margin:0;
	display: inline;
	color: purple;
}
nav ul{ 
	margin:0;
	display: inline;

}
nav ul li{
	display: inline-block;
	list-style-type: none;
	background: #555;
	color: powderblue;
	padding: 2px;
	margin: 3px;

}
nav ul li a{
	color: pink;
}

.row{ 
}

.col{
	background: #888;
	border-radius: 5px;
	float:left;
	padding:0.5%;
	width:31%;
	margin:0.5%;
}

footer{
	clear:both;
}