.clear{
	clear:both;
	clear:right;
} 

.main{
	width: 800px;
}

.top {
	background: powderblue;
	border-radius: 25px;
	width: auto;
	overflow: auto;
	font-size: 15px;
	background: #73AD21;
}

nav ul{ 
	margin:0;
	display: inline;

}
nav ul li{
	display: inline-block;
	list-style-type: none;
    background: #73AD21;
	color: powderblue;
	padding: 5px;
	margin: 5px;
}
nav ul h1{
	text-align:center
}

h3 {margin: 0}
h2 {margin: 0}
h1 {margin: 0;
	text-align:center
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 800px;
    overflow: auto;    
}

.right{
	position: absolute;
	top: auto;
	right: 0px;
	width:400px;
	border-radius: 25px;
    background: #73AD21;
}

ul
{
list-style-type: none;
}

.row{ 
}

.col{
    background: #73AD21;
	border-radius: 25px;
	float:left;
	padding:0.5%;
	width:48%;
	margin:0.5%;
}
.colRed{
    background: #DB2929;
	border-radius: 25px;
	float:left;
	padding:0.5%;
	width:48%;
	margin:0.5%;
}